

*{

    margin: 0;
    padding: 0;
    
}
body{

    background-image: url(backg.png);
background-attachment: fixed;
}

#header{


width: 100%;
height: 70vh;




}
.conatiner{
    padding: 10px 10%;


}
nav{
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}

.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
     list-style: none;
     margin: 10px 20px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{

    content: '';
    width: 0;
    height:3px;
    background: cyan;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
width: 100%;

}
.header-text{
margin-top:20px;
font-size: 30px;
}
.header-text h1{
font-size: 60px;
margin-top: 20px;


}

.header-text h2 span{
    color: cyan;
}
/*----------------about---------*/
#about{
    padding: 70px 0;
    color: #ffffff;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.about-col-1{
    flex-basis:25%;

}
.about-col-1 img{
    width: 90%;
    border-radius: 15px;   
    
}
.about-col-2{

flex-basis: 70%;

}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color:white;
    
    
}
.tab-titles{

    display: flex;
    margin: 20px  0  40px;
}
.tab-links{
margin-right: 50px;
font-size: 18px;
font-weight: 500;
cursor: pointer;
position:  relative;

}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: cyan;
    position:absolute;  
    left: 0;
    bottom: -8px;
    transition: 0.5;

}
.tab-links.active-link::after{

width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;

}

.tab-contents ul li span {
    color: rgba(27, 35, 173, 0.905);
}
.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display:block;
}

/*---------------------Services--------- */ 

#services{

    padding: 60px 0;
    margin-left: 40px;
}
.services-list{

    display:grid;

    grid-template-columns: repeat(auto-fit , minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    margin-right: 15px;

}

.services-list div{
background: #2a2a2a;
padding: 40px;
font-size: 20px;
font-weight: 300;
border-radius: 10px;
transition: background 1s , transfrom 1s ;

}

.services-list div i{

    font-size: 50px;
    margin-bottom: 30px;
    color: cyan;

}

.services-list div h2{
font-size: 40px;
font-weight: 500;
margin-bottom: 15px;
color: rgb(255, 255, 255);


}
.services-list div a{

    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background:rgb(13, 106, 120);
    transform: translateY(-30px);
}

/*---------portoflio-----------------*/

#portoflio{

    padding: 50px 0;

}

.work-list{

    display:grid;
grid-template-columns: repeat(auto-fit , minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    
    
}

.work{

    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{

    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s ;

}
.layer{

width: 100%;
height: 0;
color: rgb(255, 255, 255);
background:linear-gradient(rgba(0,0,0,0.6), #4bb9f4);
border-radius: 10px;
position: absolute;
left: 0;
bottom: 0;
overflow-y: hidden;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
transition: height 0.5s;
}

.layer h3{

    font-weight: 600;
    margin-bottom: 20px;

}

.layer a{
    margin-top: 20px;
    color: rgb(90, 8, 222);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: rgb(255, 255, 255);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
transform: scale(1.1);


}
.work:hover .layer{

    height: 100%;
}

.contact-left{

    flex-basis: 35%;
}
.contact-right{

    flex-basis: 60%;
    position: absolute; 

}

.contact-left p{

    margin-top: 30px;
}

.contact-left p i{

    color: cyan;
    padding-left: 25px;
    margin-top: 10px;
    font-size: 20px;
}

.social-icons{
margin-top: 20px;
padding-left: 20px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-bottom:40px;
    margin-right: 20px;
    color: #5013df;
    display: inline-block;
    transition: transform 0.13s;
}

.social-icons a:hover{

    color:#0369f7;
    transform: translateY(-5px );
}
.contact-right form{
    width: 100%; 
    padding-left: 10px;
}
form input, textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #333232;
    padding: 20px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
}

.btn{

    display:inline-block;
    margin: 2% auto;
    width: fit-content;
    border: 5px solid rgb(109, 102, 102);
    border-radius: 10px;
    text-decoration: none;
    color:rgb(109, 102, 102);
    cursor: pointer;
    transition: background 0.5s;
    padding: 10px 60px;
    

    
}
.btn:hover{

    background:cyan;
}
#msg{

    color: #00a6ff;
     margin-top: -20px;
     display: block;


}